<div class="row">
    <div class="small-12 medium-12 large-12 columns">
    
        <form class="float-left contact-form float-left">
            <h5 style="text-align:center;">Send a message</h5>
            
            <div class="input-group">
                <label for="name"><strong>Name</strong></label>
                <input type="text" id="name" name="name" class="input-group-field" placeholder="Name" required>
            </div>      
            
            <div class="input-group">
                <label for="subject"><strong>Subject</strong></label>
                <input type="text" id="subject" name="subject" class="input-group-field" placeholder="Subject">
            </div>      
            
            <div class="input-group">
                <label for="message"><strong>Message</strong></label>
                <textarea id="message" name="message" placeholder="Message" required></textarea>
            </div>      
            
            <input type="submit" class="button" value="Submit">
        </form>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3054.630027495842!2d-75.14686668430349!3d40.03903897941084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b77848b28efd%3A0xe43e3e1429729ba9!2sOlney+Transportation+Center!5e0!3m2!1sen!2sus!4v1488299878314" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="gmap float-right"></iframe>
        
    </div>
    
</div>