<div class="row">
    <div class="small-12 medium-12 large-12 columns index" style="color:#fff;">
    
        <h2 style="color:#fff;text-align:center;">Welcome</h2>
        
        <p style="color:#fff;">
        
            <p style="color:#fff;" class="lead">Dui non aliquam, nascetur at mi quis molestie, rhoncus neque arcu, habitant curabitur scelerisque, etiam nunc facilisis quis odio tellus nulla.</p> Arcu semper curabitur eget laoreet condimentum. Libero vivamus non, scelerisque purus integer odio erat vitae, primis magna pellentesque a lorem neque aliquam, massa consequat condimentum eget pede justo. Justo sociosqu. Mi nonummy. Ipsum justo rhoncus et tempus mauris, auctor et vel lorem congue per.
            
        </p>        
        
        <p style="color:#fff;">
            Arcu fusce etiam fermentum massa integer, tincidunt posuere elit, eget a quis maecenas ac morbi magna. Id convallis purus sit fringilla orci, faucibus ullamcorper pellentesque ultricies volutpat dui vitae, ut turpis aenean, quis cras. Consectetuer aliquam consectetuer wisi eros justo, praesent at bibendum lectus lacus in, laoreet aliquam quam tempor euismod congue eu, tristique imperdiet, sodales habitant dui nihil suspendisse laoreet. 
        </p>
        
    </div>
    
</div>

<div class="video-content v-scroll">
    <video src="/graphics/videos/video.mp4" autoplay loop></video>
</div>