<div class="small-12 medium-12 large-12 columns">
    <h4 style="text-align:center;">
        <strong>{{greeting}}</strong>
    </h4>
    <table class="hover">
        <thead>
            <tr>
                <th style="text-align:center;"><em>Profile</em></th>
                <th style="text-align:center;">
                    <i class="fa fa-user" aria-hidden="true" style="color:rgba(25,25,50, 0.6);font-size:22px;"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>First Name</strong></td>
                <td>{{user.fname}}</td>                
            </tr>
            <tr>
                <td><strong>Last Name</td>
                <td>{{user.lname}}</td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td><strong>Password</strong></td>
                <td>Change password</td>
            </tr>
        </tbody>
    </table>
</div>